// Global Variables (Defaults)
// GitHub public repo https://github.com/bpainter/frankenstein

// ---------------------------------------------------- 
// Variables
// ---------------------------------------------------- 


// --------------------------------------------------
// globals
// --------------------------------------------------
$sub-baseline           : 6px;
$baseline               : $sub-baseline * 3; // 18px

// --------------------------------------------------
// grid
// to be used with Susy
// magically converts pixels to % for a fluid grid
// --------------------------------------------------
$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;
$show-grid-backgrounds  : false;
$site-min-width: 320px;
$breakpoint-medium: 700px;

// --------------------------------------------------
// colors
// --------------------------------------------------

// #666, #999, #dbdbdb

// Grays
// -------------------------
$black:                 #000 !default;
$blackLight:            #181818;
$grayDarker:            #666;
$grayDark:              mix($gray, $grayDarker);
$gray:                  #999;
$grayLight:             mix($gray,$grayLighter);
$grayLighter:           #dbdbdb;
$white:                 #fff !default;

//  /*purple: ;
//   green: ;
//   trans-green: rgba(6, 57, 11, .5);
//   ltGreen:#829c85;
// */
// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$green:                 #06390B;
$greenLight:  			mix($green,$white);
$trans-green:           rgba($green, .5);
$purple:                #390B63;
$purpleLight:     		mix($purple, $white);
$trans-purple:          rgba($purple, .5);


// Scaffolding
// -------------------------
$bodyBackground:        $white !default;
$textColor:             $blackLight;
$bodyBackgroundNight:   #666;
$textColorNight:        $white;

// Links
// -------------------------
$linkColor:             $purple;
$linkColorHover:        lighten($linkColor, 15%) !default;


// Typography
// -------------------------
$sansFontFamily:        'Josefin Sans', Helvetica, Arial, sans-serif;
$serifFontFamily:       'Droid Serif', serif !default;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace !default;

$baseFontSize:          1em;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        1.5;
$altFontFamily:         $serifFontFamily !default;

$headingsFontFamily:    inherit !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, $textColor

$displayFontFamily:		'Poiret One', $sansFontFamily;

// Tables
// -------------------------
$tableBackground:                   transparent !default; // overall background-color
$tableBackgroundAccent:             #f9f9f9 !default; // for striping
$tableBackgroundHover:              #f5f5f5 !default; // for hover
$tableBorder:                       #ddd !default; // table and cell border


// Buttons
// -------------------------
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         #ccc !default;

$btnPrimaryBackground:              $linkColor !default;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 15%) !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              #62c462 !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;

$btnWarningBackground:              lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              $gray !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;


// Forms
// -------------------------
$inputBackground:               $white !default;
$inputBorder:                   $grayLighter;
$inputBorderRadius:             1em;
$inputDisabledBackground:       $grayLighter !default;
$formActionsBackground:         #f5f5f5 !default;

// Dropdowns
// -------------------------
$dropdownBackground:            $white !default;
$dropdownBorder:                rgba(0,0,0,.2) !default;
$dropdownLinkColor:             $grayDark !default;
$dropdownLinkColorHover:        $white !default;
$dropdownLinkBackgroundHover:   $linkColor !default;



// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000 !default;
$zindexPopover:           1010 !default;
$zindexTooltip:           1020 !default;
$zindexFixedNavbar:       1030 !default;
$zindexModalBackdrop:     1040 !default;
$zindexModal:             1050 !default;


// Sprite icons path
// -------------------------
$iconSpritePath:          "../img/glyphicons-halflings.png" !default;
$iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png" !default;


// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight !default;


// Hr border color
// -------------------------
$hrBorder:                $grayLighter !default;


// Navbar
// -------------------------
$navbarHeight:                    40px !default;
$navbarBackground:                $grayDarker !default;
$navbarBackgroundHighlight:       $grayDark !default;

$navbarText:                      $grayLight !default;
$navbarLinkColor:                 $grayLight !default;
$navbarLinkColorHover:            $white !default;
$navbarLinkColorActive:           $navbarLinkColorHover !default;
$navbarLinkBackgroundHover:       transparent !default;
$navbarLinkBackgroundActive:      $navbarBackground !default;

$navbarSearchBackground:          lighten($navbarBackground, 25%) !default;
$navbarSearchBackgroundFocus:     $white !default;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%) !default;
$navbarSearchPlaceholderColor:    #ccc !default;
$navbarBrandColor:                $navbarLinkColor !default;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter !default;
$heroUnitHeadingColor:            inherit !default;
$heroUnitLeadColor:               inherit !default;


// Form states and alerts
// -------------------------
$warningText:             #c09853 !default;
$warningBackground:       #fcf8e3 !default;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%) !default;

$errorText:               #b94a48 !default;
$errorBackground:         #f2dede !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

$successText:             #468847 !default;
$successBackground:       #dff0d8 !default;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

$infoText:                #3a87ad !default;
$infoBackground:          #d9edf7 !default;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;



// GRID
// --------------------------------------------------

// Default 940px grid
// -------------------------
$gridColumns:             12 !default;
$gridColumnWidth:         60px !default;
$gridGutterWidth:         20px !default;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;

// Fluid grid
// -------------------------
$fluidGridColumnWidth:    6.382978723% !default;
$fluidGridGutterWidth:    2.127659574% !default;