// Grid

// sticky footer
html, body, .frame, body>.view-wrapper{
	min-height:100%;
	height:100%;
	margin:0;
	padding:0;
}
body {
	min-width: $site-min-width;
}
.site-wrapper{
	min-height: 100%;
	height: auto!important;
	height: 100%;
	margin: 0 auto -3.75rem;
}
.site-wrapper>.push,
.site-footer{
	min-height:3rem; //height of "me" + footer padding
}
// One column
.page-wrapper{
  margin:3em 3em 4em 90px;
  overflow: hidden;
  position: relative;
	>*:first-child{
	  margin-top: 0;
	}
}