/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */


h1 {
  font-size:2em;
  font-weight:700;
}
h2{
  font-weight: 400;
}

hgroup{
  margin:1em;
  &>h1,
  &>h2{
    margin-top:0;
    margin-bottom:0;
  }
}


/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}
abbr[title],
dfn[title]{
  cursor:help;
}


ins{
  text-decoration: none;
  border-bottom: 1px solid #dbdbdb;
}

/*
 * Addresses styling not present in IE 8/9.
 */

mark {
    background: rgba(6, 57, 11, 0.4);
    color: inherit;
}


/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

body {
      color:$textColor;
      &.is-night {
        color: $textColorNight;
      }
}