// Utitility Styles, Functions

%clearfix{
	&:after{
		content:'';
		display: block;
		clear:both;
	}
}

%icon-offsiteArrow,
%icon-leaf,
%icon-day,
%icon-night {
	font-family: 'entypo-icons', wingdings;
}
%icon-offsiteArrow{
    content:'3';
}
%icon-leaf{
	content:'G';
}
%icon-day {
    content: $icon-sun;
}
%icon-night {
	content: $icon-moon;
}

@mixin border($width:1px, $style:unquote('solid'), $color:'$grey'){
	border:$width $style $color;
}