/* ==========================================================================
   Site Footer
   ========================================================================== */

.site-footer{
  position: relative;
  &>address{
      // font: normal 400 2.2em/1 $displayFontFamily; 
      // font: normal 400 1.2em/1 $displayFontFamily; 
      font-family: $displayFontFamily; 
      float: right;
    &>a{
      text-decoration: none;
      color:$textColor;
    }
  }
  a{
    border-color:transparent;
    color:inherit;
    &:hover{
      border-bottom-color:$textColor;
      color:inherit;
    }
  }
  .site-copyright{
    position:absolute;
    bottom:.5rem;
    left:.5rem;
  }

  &.is-night {
    background-color: $bodyBackgroundNight;
    color: $textColorNight;
    a {
      color: inherit;
    }
  }
}
.site-copyright{
  color:$gray;
  &:hover{
    color:$textColor;
    &:after{
      content:' \2014 is the short story. Long story on Credits Page.'
    }
  }
}