/* ==========================================================================
 LaceTheme Background
 ========================================================================== */

body {
	// background:
	//   image-url('bkg-laceSmall-5.png') bottom right no-repeat
	//   , -webkit-radial-gradient( 
	//     50px 50px
	//     , circle cover
	//     , rgba(255, 255, 255, 1) 0
	//     , rgba(255, 255, 255, 1) 10%
	//     , rgba(255, 255, 255, .95) 30%
	//     , rgba(255, 255, 255, .98) 80%
	//   ) 0 0 no-repeat
	//   , image-url('bkg-lace-big-100.png') 
	//   -280px -280px 
	//   no-repeat;
	$siteBkg-laceSmall:url('./../images/bkg-lace-small-5.png');
	$siteBkg-laceLarge: url('./../images/bkg-lace-big-100.png');
	
	  background-image: url('./../images/bkg-lace-small-5.png'), -webkit-gradient(radial, 50px 50px, 0, 50px 50px, 80, color-stop(0%, #ffffff), color-stop(10%, #ffffff), color-stop(30%, rgba(255, 255, 255, 0.95)), color-stop(80%, rgba(255, 255, 255, 0.98))), url('../images/bkg-lace-big-100.png');
	  background-image: url('./../images/bkg-lace-small-5.png'), -webkit-radial-gradient(50px 50px, circle cover, #ffffff 0%, #ffffff 10%, rgba(255, 255, 255, 0.95) 30%, rgba(255, 255, 255, 0.98) 80%), url('../images/bkg-lace-big-100.png');
	  background-image: url('./../images/bkg-lace-small-5.png'), -moz-radial-gradient(50px 50px, circle cover, #ffffff 0%, #ffffff 10%, rgba(255, 255, 255, 0.95) 30%, rgba(255, 255, 255, 0.98) 80%), url('../images/bkg-lace-big-100.png');
	  background-image: url('./../images/bkg-lace-small-5.png'), -o-radial-gradient(50px 50px, circle cover, #ffffff 0%, #ffffff 10%, rgba(255, 255, 255, 0.95) 30%, rgba(255, 255, 255, 0.98) 80%), url('../images/bkg-lace-big-100.png');
	  background-image: url('./../images/bkg-lace-small-5.png'), radial-gradient(50px 50px, circle cover, #ffffff 0%, #ffffff 10%, rgba(255, 255, 255, 0.95) 30%, rgba(255, 255, 255, 0.98) 80%), url('../images/bkg-lace-big-100.png');
	  -webkit-background-size: auto, 430px 430px, auto;
	  -moz-background-size: auto, 430px 430px, auto;
	  -o-background-size: auto, 430px 430px, auto;
	  background-size: auto, 430px 430px, auto;
	background-position: bottom right, 0 0, -280px -280px;
	background-repeat:no-repeat,no-repeat,no-repeat;
	background-attachment:fixed,scroll,scroll;
}