/* ==========================================================================
 LaceTheme Background
 ========================================================================== */

body {
    $siteBkg-laceSmall: './../images/bkg-lace-small-5.png';
    $siteBkg-laceLarge: './../images/bkg-lace-big-100.png';
    // background-image: $siteBkg-laceSmall, -webkit-gradient(radial, 50px 50px, 0, 50px 50px, 80, color-stop(0%, #ffffff), color-stop(10%, #ffffff), color-stop(30%, rgba(255, 255, 255, 0.95)), color-stop(80%, rgba(255, 255, 255, 0.98))), url($siteBkg-laceLarge);
    // background-image: $siteBkg-laceSmall, -webkit-radial-gradient(50px 50px, circle cover, #ffffff 0%, #ffffff 10%, rgba(255, 255, 255, 0.95) 30%, rgba(255, 255, 255, 0.98) 80%), url($siteBkg-laceLarge);
    // background-image: $siteBkg-laceSmall, -moz-radial-gradient(50px 50px, circle cover, #ffffff 0%, #ffffff 10%, rgba(255, 255, 255, 0.95) 30%, rgba(255, 255, 255, 0.98) 80%), url($siteBkg-laceLarge);
    // background-image: $siteBkg-laceSmall, -o-radial-gradient(50px 50px, circle cover, #ffffff 0%, #ffffff 10%, rgba(255, 255, 255, 0.95) 30%, rgba(255, 255, 255, 0.98) 80%), url($siteBkg-laceLarge);
    // background-image: $siteBkg-laceSmall, radial-gradient(50px 50px, circle cover, #ffffff 0%, #ffffff 10%, rgba(255, 255, 255, 0.95) 30%, rgba(255, 255, 255, 0.98) 80%), url($siteBkg-laceLarge);
    // -webkit-background-size: auto, 430px 430px, auto;
    // -moz-background-size: auto, 430px 430px, auto;
    // -o-background-size: auto, 430px 430px, auto;
    // background-size: auto, 430px 430px, auto;
    // background-position: bottom right, 0 0, -280px -280px;
    // background-repeat: no-repeat, no-repeat, no-repeat;
    // background-attachment: fixed, scroll, scroll;
    background-image: $siteBkg-laceSmall, url($siteBkg-laceLarge);
    background-size: auto, auto;
    background-position: bottom right, -280px -280px;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, scroll;
    background-color: $bodyBackground;
    @include transition(background-color 1s ease-out);
    &::before {
    	content:'';
	 z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: url($siteBkg-laceLarge) center center no-repeat;
    background-size: contain;
    opacity: .01;
    @include animation(spin 36s infinite linear);
    }
   
}
body.is-night {
	background-color: $bodyBackgroundNight;
}